
		<!--================Service Area =================-->
        <section class="service_area">
        	<div class="container">
        		<div class="single_w_title">
        			<h2>Angel's Touch Cakes and Cupcakes</h2>
        		</div>
        		<div class="row service_inner">
        			<div class="col-lg-4 col-6">
        				<div class="service_item">
        					<i class="flaticon-food-1"></i>
        					<h4>Celebration Cakes</h4>
        					<p>Indulge in the sweet artistry of our party cakes, meticulously crafted to make your special moments even more memorable. Whether it's a birthday, anniversary, wedding, or any other milestone, let us bring your vision to life and add a touch of sweetness to your cherished memories.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-6">
        				<div class="service_item">
        					<i class="flaticon-food-2"></i>
        					<h4>Signature Cupcakes</h4>
        					<p>Experience pure bliss with our cupcakes. From classic favorites to seasonal delights, we offer a tempting selection of flavors and designs to satisfy every palate, whether you're craving something sweet for yourself or sharing with loved ones.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-6">
        				<div class="service_item">
        					<i class="flaticon-food"></i>
        					<h4>Muffins & other custom orders</h4>
        					<p>Explore a world of delicious possibilities with our assortment of muffins and custom orders. Looking for something specific, beyond our celebrated cakes and cupcakes? Tailor your desserts to your exact preferences.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Service Area =================-->